/* Styles go here! */

#sidebar {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: absolute; /* Position them relative to the browser window */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    background-color: rgba(255, 255, 255, 0.664); /* Black*/
    padding-top: 10px; /* Place content 20px from the top */
    padding-left: 10px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }

  /* #sidebar a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  /* } */ 
  
  .sidebar-text {
      color: rgb(17, 17, 17);
      font-family: cursive;
      font-size: larger;
      padding-left: 20px; 
  }

  body {
    background-color: cornsilk;
    background-image: url("./images/flower-background-3.JPG");
    background-size: cover;
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }

  .side-image {
    height: 90px;
    width: 90px;
    background-position: center;
    background-size: cover; 
  }

  .main-image {
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover; 
  }

 