/* Styles go here! */
@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

body {
  background: radial-gradient(circle, rgba(246,199,219,1) 0%, rgba(148,187,233,1) 100%);
  /* background-image: url("./images/flower-background-3.JPG"); */
  background-size: cover;
  transition: margin-left .5s; /* If you want a transition effect */
  margin: 0;
}


/* Main content  */

#main {
  transition: 0.5s;
  padding-top: 30px;
}

.sidebar-open #main {
  margin-left: 200px;
}

.main-image {
  height: 200px;
  background-position: center;
  background-size: contain; 
}

#flower-main {
  height: 75vh;
  text-align: left;
  display: flex;
  flex-flow: wrap;
  margin: auto;
  justify-content: center;
 
}

.content {
  padding: 15px;
}


/* Sidebar view and hover */

#sidebar {
    height: 100%; /* 100% Full-height */
    width: 25px; /* 0 width - change this with JavaScript */
    position: absolute; /* Position them relative to the browser window */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    background-color: rgba(255, 255, 255, 0.664); /* Black*/
    padding-top: 10px; /* Place content 20px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19)
    /* border-right: 1px solid #bbb; */  
  }

  .sidebar-content {
    display: none;
    visibility: hidden;
    opacity: 0;
    animation: 0.6s ease 0s normal forwards 1 fadein;
  }

  .sidebar-open #sidebar {
    width: 200px;
  }

  .sidebar-open .sidebar-content {
    display: block;
    visibility: visible;
    opacity: 1;
  }
  
  .sidebar-text {
      color: rgb(17, 17, 17);
      font-family: cursive;
      font-size: larger;
      text-align: center; 
  }

  .card {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 10px;
    
  }

  .side-image {
    height: 90px;
    background-position: center;
    background-size: contain; 
  }


  /* Bottom bar with selected flower images and save bouquet/view all buttons */

  #bottom-bar {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    transition: 0.5s;
  }

  .sidebar-open #bottom-bar {
    left: 200px;
    width: calc(100% - 200px);
  }

  .bouquet-item-image {
    height: 90px;
    background-position: center;
    background-size: contain; 
  }

  .bouquet-item {
    padding: 10px;
  }

  #selected-flowers {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  #bouquet-buttons {
    text-align: center;
  }



  /* Pop up save bouquet form */

  #modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  
  }
  
  #save-bouquet-form {
    background-color: rgb(255, 237, 194);
    width: 400px;
    margin: 20vh auto 0;
    padding: 40px;
    border-radius: 20px;
  }

  #form-content {
    text-align: center;
  }



 